.countriesContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

}

.countryDetails{
    margin-top: 10vh;
    width: 100vw;
    border-style: solid;
    border-width: 1px;
    background-color: aliceblue;

}
.textclass{
    margin-top: 20px;
    margin-left: 0px;
}
.headerClass{
    display: flex;
    width:100vw;
    background-color: blanchedalmond;
    margin-top: auto;
}
.heading{
    display: flex;
}

.dropdownClass{
    
    margin-left: auto;

}

.App{
    background-color: blanchedalmond;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
  
    to {
      bottom: 0px;
      opacity: 1
    }
  }
  
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
  
    to {
      bottom: 0;
      opacity: 1
    }
  }
  #myDiv {
    display: none;
    text-align: center;
  }
    



  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
  
  

